#* @vtlvariable name="action" type="com.bics.jira.mail.web.EditSmartMailHandlerDetailsWebAction" *#
<html>
<head>
    <title>$action.handlerName</title>
    $webResourceManager.requireResource("com.bics.jira.mail.service-desk:edit-handler-details-page")
</head>
<body>
<form class="aui" action="EditSmartHandlerDetails.jspa" method="POST" name="mailHandlerForm" id="mailHandlerForm">
    <div class="form-body">
        <h2>$action.handlerName</h2>

        <input type="hidden" id="details" name="detailsJson">
        #parse("/secure/admin/views/printGlobalErrors.vm")

        <input type="hidden" name="atl_token" value="$atl_token">

        #set ($auiparams = $map.build("name", "project", "label", "common.concepts.project", "description", "jmp.editHandlerDetails.project.desc"))
        #parse("/templates/formfields/select.vm")

        #set ($auiparams = $map.build("name", "issuetype", "label", "common.concepts.issuetype", "description", "jmp.editHandlerDetails.issuetype.desc"))
        #parse("/templates/formfields/select.vm")

        #set ($auiparams = $map.build("name", "component", "label", "common.concepts.component", "description", "msd.editHandlerDetails.component.desc"))
        #parse("/templates/formfields/select.vm")

        #set ($auiparams = $map.build("name", "stripquotes", "label", "jmp.editHandlerDetails.stripquotes", "description", "jmp.editHandlerDetails.stripquotes.desc"))
        #parse("/templates/formfields/checkbox.vm")

        #set ($auiparams = $map.build("name", "splitregex", "label", "jmp.editHandlerDetails.splitregex", "description", "msd.editHandlerDetails.splitregex.desc"))
        #parse("/templates/formfields/textfield.vm")

        #set ($auiparams = $map.build("name", "catchemail", "label", "jmp.editHandlerDetails.catchemail", "description", "jmp.editHandlerDetails.catchemail.desc"))
        #parse("/templates/formfields/textfield.vm")

        #set ($auiparams = $map.build("name", "createusers", "label", "jmp.editHandlerDetails.createusers", "description", "jmp.editHandlerDetails.createusers.desc"))
        #parse("/templates/formfields/checkbox.vm")

        #set ($auiparams = $map.build("name", "reporterusername", "label", "jmp.editHandlerDetails.reporterusername", "formname", "mailHandlerForm"))
        #parse("/templates/formfields/userselect.vm")

        #set ($auiparams = $map.build("name", "notifyusers", "label", "jmp.editHandlerDetails.notifyusers", "description", "jmp.editHandlerDetails.notifyusers.desc"))
        #parse("/templates/formfields/checkbox.vm")

        #set ($auiparams = $map.build("name", "ccassignee", "label", "jmp.editHandlerDetails.ccassignee", "description", 'jmp.editHandlerDetails.ccassignee.desc'))
        #parse("/templates/formfields/checkbox.vm")

        #set ($auiparams = $map.build("name", "ccwatcher", "label", "jmp.editHandlerDetails.ccwatcher",  "description", 'jmp.editHandlerDetails.ccwatcher.desc'))
        #parse("/templates/formfields/checkbox.vm")
    </div>

    <div class="buttons-container form-footer">
        <div class="hints-section" style="display: none;">
            <p>
                $i18n.getText('jmp.editHandlerDetails.hints')
            </p>
            <p class="rejecting-messages-without-author">
                $i18n.getText('jmp.editHandlerDetails.rejecting.messages')
            </p>
        </div>
        <div class="buttons">
            <div class="test-placeholder"></div>
            <span class="icon throbber"></span>
            #parse("/secure/admin/views/accessKeys.vm")
            <input id="testButton" type="submit" disabled class="button" value="$i18n.getText('admin.common.words.test')">
            #if ($action.editing)
                #set ($addButtonLabel = $i18n.getText('common.words.save'))
            #else
                #set ($addButtonLabel = $i18n.getText('common.forms.add'))
            #end
            <input id="addButton" type="submit" class="button" value="$!addButtonLabel" accesskey="$submitAccessKey" title="$submitTitle">
            <a href="IncomingMailServers.jspa" class="cancel" accesskey="$cancelAccessKey" title="$cancelTitle">$i18n.getText("AUI.form.cancel.link.text")</a>
        </div>

#*
        <script type="text/javascript">
            (function() {
                editHandlerDetailsBackbone($action.detailsJson.replace('</', '<\u002f'),
                    $action.projectsJson.replace('</', '<\u002f'),
                    $action.bulkOptionsJson.replace('</', '<\u002f'));
            }());
        </script>
*#
    </div>
</form>
</body>
</html>